*{
    box-sizing: border-box;
}
.horario{
    padding-inline: 15px;
    height: 124px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.horario p {
    margin-left: 8px;
    width: 100%;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #293845;
}
button {
    margin-left: 8px;
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.espaco {
    width: 380px;
    height: 117px;
}
.filmeSelecionado {
    width: 380px;
    height: 117px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #DFE6ED;
    display: flex;
    align-items: center;
}
.filmeSelecionado img {
    margin-left: 10px;
    border: 8px solid #ffffff;
    width: 48px;
    height: 72px;
}
.filmeSelecionado p {
    margin-left: 14px;
    width: max-content;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #293845;
}