*{
    box-sizing: border-box;
}

.subtitulo {
    width: 380px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
}
.subtitulo p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;

color: #293845;
}
.corpo {
    padding-inline: 15px;
    width: 380px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    background: #E5E5E5;
}
.filme {
    margin-inline: 15px;
    margin-bottom: 11px;
    width: 145px;
    height: 209px;
    background: #ffffff;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.filme img {
    width: 129px;
    height: 193px;
}
